$transition-ease-100: 0.1s ease;
$transition-ease-200: 0.15s ease;
$transition-ease-300: 0.2s ease;
$transition-ease-500: 0.3s ease;
$transition-ease-700: 0.5s ease;
$transition-ease-900: 1.5s ease;
$transition-ease-1100: 2.5s ease;
